<div class="app-container">

  <div>
    <header class="bg-primary text-white text-center py-4">
      <h1 class="h3">Registro de Estudiantes: v3</h1>
    </header>
  </div>

  <br>

  <div class="form-container">

    <div class="card">
      <div class="card-body">
        <h2>Formulario Estudiantes v2</h2>

        <app-student-form (addStudent)="addStudent($event)"></app-student-form>
      </div>
    </div>
    
  </div>
    <br>
  <div class="list-container">

    <div class="card">
      <div class="card-body">
        <h2>Lista Estudiantes v2</h2>
        <app-student-list [students]="students"></app-student-list>
      </div>
    </div>

    
  </div>
</div>


